@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Press+Start+2P&family=Supermercado+One&display=swap');

.container_loading{
    margin: 0;
    padding: 0;
}
.progress-bar{
    background-color: #b09868;
    height: 30px;
    padding: 6px ;
    width: 100vh;
    margin: 200px 150px;         
    border-radius: 10px;
    box-shadow: 0 1px 5px #b09868 inset, 0 1px 0 #444;           
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out; 
    background-color: #ccc;   
    margin-top: -50px;
  }

  .orange span {
    background-color: #c0b8a0;
    background-image: linear-gradient(top, #989078, #a0a080);  
  }

/**** STRIPES ****/
.stripes span {
    background-size: 20px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
      transparent 50%, rgba(187, 144, 144, 0.15) 50%, rgba(153, 135, 118, 0.233) 75%,
      transparent 75%, transparent);            
  
    animation: animate-stripes 3s linear infinite;             
  }
  
  @keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
  }
  
  /**** SHINE ****/
  .shine span {
    position: relative;
  }
  
  .shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;             
  }
  
  @keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
  }
  
  /**** GLOW ****/
  .glow span {
    box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;    
    animation: animate-glow 1s ease-out infinite;          
  }
  
  @keyframes animate-glow {
    0% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
    50% { box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
    100% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
  }
  .loading{
      font-size: 15px;
      letter-spacing: 2px;
      font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #908868;
  }

  .container{
      background-repeat: no-repeat;
      width: 100%;
      height: 170vh;
      margin-top: -52px;
      background-size: 1030px 1137px;
      background-image: url('https://p0.pikist.com/photos/583/129/kitchen-eat-food-cook-cooking-pan-preparation-restaurant.jpg');
  }

  .btn_reset{
    position: absolute;
    color: #786840;
    list-style: none;
    text-decoration: none;
    right: 700px;
    transition-duration: 0.8s;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    z-index: 60;
    top: 17px;
    transition: 0.5s;
    overflow: hidden;
    background:linear-gradient(to right, #d6d69c,#908868);
    border-radius: 5px;
    border-style:none;
    padding: 9px 5px;
  }
  .btn_reset:hover{
    background: #b8b098;
    box-shadow: 0 0 10px #403820,0 0 10px #504020, 0 0 10px #3d3030;
    transition-delay: 0.2s;
    
 }


 .menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background: linear-gradient(to right,#795527e6,rgba(122, 83, 67, 0.5));
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 49px;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.navbar-toggle {
  position: relative;
  width: 200px;
  height: 120px;
  display: flex;
  margin-left: -25px;
  justify-content:center;
  align-content: space-around;
  top: 30px;
}

.button1{
  background: rgba(122, 83, 67, 0.1);
  border-style: none;
  position: absolute;
  z-index: 4;
  left: -10px;
  top: 0px;
  width: 80px;
  height: 60px;
  padding: 0;
  transition: 0.5s;
}
.button1:hover{
  background: linear-gradient(to right,#7956279c,rgba(167, 112, 90, 0.2));
  transition-delay: 0.2s;
  box-shadow: 0 0 10px #403820,0 0 10px #665128, 0 0 10px #3d3030;
  
}

.button2{
  background:linear-gradient(to right, #d6a772,rgb(64, 48, 48,0.7));
  position: absolute;
  height: 30px;
  display: flex;
  margin-top: 10px;
  left: 200px;
  justify-content: flex-end;
  flex-direction: row-reverse;
  border-style: none;
  padding: 5px;
}

.label1{
  color: #ddd2c3ab;
  font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 19px;
}

.select1{
  background:linear-gradient(to right, #403030,rgb(144, 40, 0,0.2));
  border-style: unset;
  font-size: 15px;
  border-radius: 3px;
  transition: 0.5s;
  margin-top: 5px;
  height: 25px;

}

.select1:hover{
  background: linear-gradient(to right,#7956279c,rgba(167, 112, 90, 0.2));
  transition-delay: 0.2s;
  box-shadow: 0 0 10px #403820,0 0 10px #a5773b, 0 0 10px #3d3030;
  
}

.option1{
  background:linear-gradient(to right, #403030,rgb(144, 40, 0,0.2));
  color: #444;
}

.container-page{
  position: relative;
  display: flex;
  justify-content: center;
  width: 400px;
  left: 50vh;
  top: -40px;
}

.btn-page{
  color:#5c5234;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px 5px;
    letter-spacing: 1px;
    transition: 0.4s;
    overflow: hidden;
    background:linear-gradient(to right, #d6d69c,#908868);
    border-radius: 9px;
    width: 80px;
    margin-left: 3px;
    margin-right: 3px;
    border-style:none;
    height: 40px;
    margin-top: 5px;
}

.btn-page:hover{
  background: linear-gradient(to right,#a16a219c,rgba(167, 112, 90, 0.8));
  transition-delay: 0.2s;
  box-shadow: 0 0 10px #403820,0 0 10px #a5773b, 0 0 10px #3d3030;
  
}
.max-page{
  color:#ada99b;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: Helvetica, sans-serif;
}

.input-page{
  width: 50px;
  height: 35px;
  border-radius: 7px;
  margin-top: 6px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 21px;
margin-left: 2px;
background: #817c68;
padding-left: 10px;
padding-right: 1px;
}



